:root {
  --primary-color: rgb(4, 51, 59);
  --primary-color_hover: #b46e3c;
  --secondary-color: #628a76;
  --white-color: #fff;
  --primary-font: "Rubik", sans-serif;
  --dancing: "Dancing Script", cursive;
  --color_danger: rgb(230, 34, 93);
  --boxSize: 1em;
  --speed: 18s;
  --rotateSceneX: -0deg;
  --rotateSceneY: 0deg;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: auto;
  width: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
button {
  border: none;
}

ul {
  list-style: none;
}
.p-15 {
  padding: 150px 15px;
}
.p-30 {
  padding: 120px 30px;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 500ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 500ms;
}

.section-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 36px;
  color: var(--primary-color);
}
.p50 {
  padding: 0 100px;
}
@media only screen and (max-width: 768px){
  .p50 {
    padding: 0 20px;
  }
  .section-title {
    font-size: 28px;
    margin-bottom: 20px;
   
  }
}
/* @media only screen and (max-width: 767px) {
  .section_wrapper {
    margin: 0 auto;
    padding: 80px 30px 70px;
    position: relative;
  }

  .section_title {
    font-size: 26px;
    margin-bottom: 0;
  }
} */
