.header {
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
  transition: all 0.3s;
  z-index: 99;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.main_header {
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@keyframes social_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes social_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.main_header_left-item {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.navbar_email {
  font-family: var(--primary-font);
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: var(--primary-color);
}
@media only screen and (max-width: 1000px) {
  .navbar_email {
    font-size: 10px;
  }
}
.navbar_email:hover {
  color: var(--primary-color_hover);
}

.social_in {
  animation-name: social_in;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}
.social_out {
  animation-name: social_out;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}
.logo_wrapper {
  width: 100px;
  height: 60px;
}
.logo {
  height: 60px;
  transform: scale(1.5);
}
@media only screen and (max-width: 1000px) {
  .main_header {
    padding: 10px 0 0;
  }

  .hide-navlinks {
    right: -100%;
  }
  .sidedrawer-navlinks {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    height: 80px;
  }
  .main_header {
    justify-content: space-between;
    padding: 10px 30px 0;
  }
  .main_header .socialbar-container {
    display: none;
  }

  .navbar_email {
    display: none;
  }
  .side-drawer .socialbar-container {
    width: 100%;
    height: 80px;
    position: static;
  }
  .side-drawer .socialbar-container .socialbar_wrapper {
    flex-direction: row;
  }
  .socialbar_wrapper span {
    display: block;
    width: 35px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 0 6px;
  }
  .socialbar_wrapper span:nth-child(3),
  .socialbar_wrapper span:nth-child(5) {
    display: block;
    width: 10px;
    height: 3px;
    background-color: var(--secondary-color);
  }
}
.sidedrawer-navlinks {
  display: block;
  width: 100%;
}
.sidedrawer-navlink_wrapper {
  text-align: center;
  /* transition: all 0.2s; */
}
.sidedrawer-navlink_wrapper:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.sidedrawer-navlink_wrapper:hover a {
  color: var(--white-color);
}
.sidedrawer-navlinks .nav-item {
  font-weight: 700;
  width: 100%;
  font-size: 1rem;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  color: var(--secondary-color);
}
